/* styles for background outlines */
.outline-grid { position: absolute; display: inline-block; width:100vw; height: 100vh; z-index: 1; }

.outline-dashed { border:0.25rem dashed rgba(255, 255, 255, 0.5); }

.outline-description {
    color: white;

    font-family: 'Crimson Text', serif; 
    font-size: var(--s1); 
    font-style: italic;
    padding-left: 1.5rem;
}

#outline_search {
    position: inherit;
    display: inherit;

    width: 7.5rem;
    height: 11rem;

    left: calc(5vw - 1.5rem);
    top: -7rem;
}
#outline_tomorrowstarted {
    position: inherit;
    display: inherit;

    width: 14rem;
    height: 11rem;

    right: calc(5vw - 1rem);
    top: -7rem;
}
#outline_shop {
    position: inherit;
    display: inherit;

    width: 23rem;
    height: 16rem;

    left: -1rem;
    top: 10vh;
}
#outline_listenup {
    position: inherit;
    display: inherit;

    width: 23rem;
    height: 16rem;

    left: -1rem;
    top: 35vh;
}
#outline_reference {
    position: inherit;
    display: inherit;

    width: 23rem;
    height: 16rem;

    left: -1rem;
    top: 60vh;
}
#description_navmenu {
    position: inherit;
    display: inherit;

    right: calc(22vw + 11rem);
    top: calc(37.5vh - 2rem);
}
#outline_navmenu {
    position: inherit;
    display: inherit;

    width: 32.5rem;
    height: 5rem;

    right: calc(22vw + 9rem);
    top: 37.5vh;
}
#description_posts{
    position: inherit;
    display: inherit;

    left: 49rem;
    top: calc(8vh - 2rem);
}
#outline_posts {
    position: inherit;
    display: inherit;

    min-width:34rem;
    width:47vw; 
    height:79vh;

    left: 48rem;
    top: 8vh;
}
#description_archives {
    position: inherit;
    display: inherit;

    left: 34rem;
    top: calc(15vh - 2rem);
}
#outline_archives {
    position: inherit;
    display: inherit;

    min-width:34rem;
    width:27vw; 
    height:59vh;

    left: 33rem;
    top: 15vh;
}
#description_about {
    position: inherit;
    display: inherit;

    right: 6rem;
    top: calc(13vh - 2rem);
}
#outline_about {
    position: inherit;
    display: inherit;

    min-width:34rem;
    width:37vw; 
    height:69vh;

    right: 4rem;
    top: 13vh;
}
#description_randomizer {
    position: inherit;
    display: inherit;

    right: 11rem;
    top: calc(25vh - 4rem);
}
#outline_randomizer {
    position: inherit;
    display: inherit;

    min-width:33rem;
    width:27vw;
    height:54vh;

    top: 23vh;
    right: 9rem;
}


#outline_fly {
    position: inherit;
    display: inherit;

    border-radius: 6rem;

    width: 12rem;
    height: 12rem;

    left: calc(21vw + 1.25rem);
    top: calc(23vh + 1.5rem);
}


