/* dragging styling begins */
/* in conjunction with action_alt-interface.js file */

/* for alternative interface ! */

#dragspider {
  z-index: 7;
  position: absolute;
  top: 70vh;
  right: 13vw;
}
#dragspiderheader {
  cursor: move;
  z-index: 10;
}

#dragcastalt {
  z-index: 1;
  position: absolute;
  top: 15vh;
  left: 5vw;
}
#dragcastaltheader {
  cursor: move;
  z-index: 10;
}

/* dragging styling ends */
