/* dragging styling begins */
/* in conjunction with action.js file */

#dragfly {
  z-index: 7;
  position: absolute;
  top: 75vh;
  right: 19vw;
}
#dragflyheader {
  cursor: move;
  z-index: 10;
}

#dragshop {
    z-index: 5;
    position: absolute;
    top: 15vh;
    left: var(--s5);
  }
#dragshopheader {
    cursor: move;
    z-index: 10;
  }

#draglistenup {
    z-index: 5;
    position: absolute;
    top: 40vh;
    left: var(--s5);
  }
#draglistenupheader {
    cursor: move;
    z-index: 10;
  }

#dragreferences {
    z-index: 5;
    position: absolute;
    top: 65vh;
    left: var(--s5);
  }
#dragreferencesheader {
    cursor: move;
    z-index: 10;
  }
#dragarchives {
    z-index: 3;
    position: absolute;
    top: 5vh;
    left: 35rem;
}
#dragarchivesheader {
    cursor: move;
    z-index: 10;
  }

#dragpost {
    z-index: 4;
    position: absolute;
    top: 15vh;
    left: 65rem;
}
#dragpostheader {
    cursor: move;
    z-index: 10;
  }

#dragcast {
    z-index: 1;
    position: absolute;
    top: 10vh;
    left: 95rem;
}
#dragcastheader {
    cursor: move;
    z-index: 10;
  }

#dragmenu {
  z-index: 5;
  position: absolute;
  top: 40vh;
  left: 50vw;
}
#dragmenuheader {
  cursor: move;
  z-index: 10;
}

/* dragging styling ends */
